<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="main">
	<div class="contain">
	<img src="{{avatar}}" id="image" />
		<div class="basics">
	<h1>{{name}}</h1>

	<p>{{address.city}},{{address.country}}| {{#job}} {{job}},{{/job}} {{company}}{{^job}}<span>Available for Hire</span>{{/job}}</p>
	
	
	<p>{{email}} | {{phone}}</p>
	
	</div>
	</div>
	<div id="education">

		{{#education}}
		<div class="ulist">
		<h4>Education</h4>
		</div>
		<div class="items">
			<li>{{university}}</li>
		</div>
		{{^education}}
		{{/education}}{{/education}}

	</div>
	<div class="skills">
		<div class="ulist">
			<h4>Skills</h4>
		</div>
		<div class="items">
		{{#skills}}
			<li>{{.}}</li>
		{{/skills}}
		</div>
	</div>
</div>
</body>
</html>